* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ffffff;
    padding: 20px;
}

a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.container {
    width: 100%;
    margin: 0 auto;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header {
    width: 100%;
    padding: 1px 0;
    border-bottom: 1px solid #eee;
}

.header .nav {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    padding: 10px 20px;
}

.header .nav a {
    color: #333333;
    font-weight: 500;
}

.box-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

h1 {
    font-size: 2rem;
    color: #333;
}

.interactions {
    display: flex;
    gap: 20px;
}

.btn {
    display: flex;
    align-items: center;
    gap: 5px;
}

.btn svg {
    stroke: #333;
}

.photos {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(2, 220px);  
    grid-gap: 10px;  
    margin-top: 30px;
    margin-bottom: 30px;
}

.photos div {
    position: relative;
    overflow: hidden;
}

.photos img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img1 {
    grid-column: 1 / 3; 
    grid-row: 1 / 3;    
}

.img2 {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.img3 {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
}

.img4 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}

.img5 {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
}

.img1 img {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.img3 img {
    border-top-right-radius: 15px;
}

.img5 img {
    border-bottom-right-radius: 15px;
}

.listing {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.details-section {
    width: 60%;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.features {
    margin-bottom: 20px;
    color: #666;
}

.description {
    margin-bottom: 20px;
    color: #333;
}

.host-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.host-avatar {
    width: 40px;
    height: 40px;
    background-color: #ddd;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    font-weight: bold;
    font-size: 1.2rem;
}

.host-details p {
    margin-bottom: 5px;
}

.amenities ul {
    padding-top: 20px;
    list-style: none;
    margin-bottom: 20px;
}

.amenities ul li {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.amenities ul li span {
    margin-right: 10px;
}


.price-section {
    width: 300px;
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
}

.price {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 15px;
    text-align: center;
}

.strike {
    text-decoration: line-through;
    color: #888;
    margin-right: 10px;
}

.discounted {
    color: #333;
    font-weight: bold;
}

.booking-details {
    margin-bottom: 20px;
}

.checkin-checkout {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.checkin-checkout div, .guests-section {
    width: 48%;
}

.booking-details input, .guests-section select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 6px;
    background-color: #f9f9f9;
    font-size: 0.9rem;
}

label {
    font-weight: bold;
    font-size: 0.85rem;
    color: #333;
}

.reserve-button {
    width: 100%;
    padding: 12px 0;
    background: linear-gradient(90deg, #fc627f 0%, #fd296a 100%);
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    margin: 15px 0;
}

.reserve-button:hover {
    background: linear-gradient(90deg, #fd296a 0%, #fc627f 100%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.price-breakdown {
    margin-top: 20px;
}

.price-breakdown p {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.total {
    font-weight: bold;
    font-size: 1.2rem;
}

.special-offer { 
    width: 100%;
    margin-top: 20px;
    padding: 20px;
    background-color: #fce4ec;
    border-radius: 10px;
    color: #fc627f;
}

.special-offer p {
    margin-bottom: 10px;
}

.i1 {
    width: 100%;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.i1 h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 15px;
}

.i-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
}

.i {
    display: flex;
    align-items: center;
    width: 48%; 
    margin-bottom: 25px; 
}

.icon {
    font-size: 1.5rem;
    margin-right: 10px;
    color: #333;
}

.strikethrough {
    text-decoration: line-through;
    color: #999;
}

.strike {
    color: #ff0000; 
}

.i span {
    font-size: 1.1rem;
    color: #555;
}

.calendar-section {
    text-align: center; 
    margin-top: 15px; 
}

.calendar-section h3 {
    font-size: 1.2em; 
    margin-bottom: 10px; 
}

.calendar-image {
    margin-top: 10px; 
}

.calendar-image img {
    width: 100%; 
    max-width: 400px; 
    height: auto; 
}

.map-container {
    width: 100%;
    max-width: 800px; 
    height: 400px;    
    margin: 0 auto;  
    border: 1px solid #ddd;
    padding-top: 30px;
    padding-bottom: 30px;
}

.map-container iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

.logo img {
    width: 100px;
}

.search-bar {
    display: flex;
    align-items: center; 
    background-color: #fff;
    padding: 8px 16px; 
    border-radius: 35px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    gap: 10px; 
}

.search-option {
    padding: 0 15px;
    border-right: 1px solid #ddd;
    color: #333;
}

.search-option:last-child {
    border-right: none;
}

.search-button {
    background-color: #ff5a5f;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    padding-left: 10px;
}

.user-actions {
    display: flex;
    align-items: center;
    gap: 20px;
}

.user-actions a {
    font-weight: bold;
    color: #333;
}

.icon {
    background-color: #f5f5f5;
    padding: 8px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.icon svg {
    width: 20px;
    height: 20px;
    color: #333;
}

.family-description {
    padding-top: 15px;

}

.reviews {
    padding-top: 20px;
    padding-bottom: 60px;

}


.host-info {
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    background-color: #f9f9f9; 
    padding: 20px; 
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
}

.host-info h2 {
    font-size: 1.8em; 
    margin-bottom: 5px; 
    color: #333;
}


.host-info h3 {
    font-size: 1.4em; 
    margin-bottom: 10px; 
    color: #555; 
}

.host-info p {
    margin-bottom: 10px; 
    color: #666;
}


.message-host {
    display: inline-block; 
    color: #007bff;
    text-decoration: none; 
    margin-top: 10px; 
}

.message-host:hover {
    text-decoration: underline; 
}


.user-profile,
.co-hosts,
.host-information {
    margin-top: 30px; 
    margin-bottom: 20px; 
    border-bottom: 1px solid #eaeaea; 
    padding-bottom: 15px; 
    
}


.host-information {
    border-bottom: none; 
}


.profile-photo {
    margin-bottom: 15px; 
}

.profile-photo img {
    width: 100px; 
    height: 100px; 
    border-radius: 50%; 
    object-fit: cover; 
    border: 2px solid #eaeaea;
}


.user-info-container {
    display: flex; 
    justify-content: space-between; 
    align-items: flex-start; 
    margin-top: 20px; 
}


.user-profile,
.co-hosts,
.host-information {
    margin-right: 20px; 
    flex: 1; 
}


.co-hosts,
.host-information {
    flex: 2; 
}

.co-host-photo {
    margin-bottom: 10px; 
}

.co-host-photo img {
    width: 100px; 
    height: 100px; 
    border-radius: 50%; 
    object-fit: cover; 
    border: 2px solid #eaeaea; 
}


.info-container {
    display: flex;
    flex-direction: column; 
    margin-top: 20px;
    padding: 0 10px; 
}

.info-title {
    margin-bottom: 20px; 
}

.house-rules, .cancellation-policy, .safety-and-property {
    width: 100%; 
    padding: 10px; 
    box-sizing: border-box;
}

.show-more {
    color: #333; 
    text-decoration: none;
}

.house-rules ul, .safety-and-property ul {
    list-style-type: none;
    padding-left: 0; 
}

.house-rules li, .safety-and-property li {
    margin-bottom: 5px;
}




h3 {
    margin-bottom: 40px; 
}

.show-more {
    display: inline-block; 
    margin-top: 10px; 
    color: #007bff;
    text-decoration: none;
}

.show-more:hover {
    text-decoration: underline; 
}

.info-title {
    font-size: 24px; 
    font-weight: bold; 
    margin-bottom: 0%; 
    color: #333; 
    text-align: left;
    white-space: nowrap;

}

.footer {
    background-color: #f8f8f8; 
    padding: 20px; 
    margin-top: 40px; 
    border-top: 1px solid #e2e2e2; 
    text-align: center; 
    clear: both; 
    width: 100%; 
    z-index: 1000; 
    position: relative; 
}

.footer-container {
    display: flex; 
    justify-content: space-between; 
    flex-wrap: wrap; 
    padding: 0; 
    margin: 0; 
}

.footer-section {
    flex: 1;
    min-width: 200px; 
    margin: 10px; 
    text-align: left; 
}

.footer-bottom {
    margin-top: 20px; 
    font-size: 14px; 
    color: #484848; 
    text-align: center; 
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .header .nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .photos {
        grid-template-columns: repeat(2, 1fr); 
        grid-template-rows: repeat(3, 220px);  
    }

    .img1 {
        grid-column: 1 / 3; 
        grid-row: 1 / 2;
    }

    .img2, .img3, .img4, .img5 {
        grid-column: 1 / 2; 
    }

    .listing {
        flex-direction: column;
    }

    .details-section, .price-section {
        width: 100%;
        margin-bottom: 20px;
    }
}


@media (max-width: 480px) {
    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.2rem;
    }

    .photos {
        grid-template-columns: 1fr; 
        grid-template-rows: repeat(5, 220px);  
    }

    .img1 {
        grid-column: 1 / 2; 
        grid-row: 1 / 2;
    }

    .img2, .img3, .img4, .img5 {
        grid-column: 1 / 2; 
    }

    .host-info {
        padding: 10px;
    }

    .amenities ul li {
        flex-direction: column;
        align-items: flex-start;
    }

    .reserve-button {
        padding: 10px;
        font-size: 0.9rem;
    }

    .user-actions {
        flex-direction: column;
        gap: 10px;
    }

    .search-bar {
        flex-direction: column;
        gap: 15px;
    }

    .search-option {
        padding: 5px 0;
    }

    .search-button {
        padding: 10px;
        border-radius: 50%;
    }

    .price-section {
        width: 100%;
    }
}

@media (max-width: 1024px) {
    .photos {
        grid-template-columns: repeat(2, 1fr); 
        grid-template-rows: repeat(3, 120px); 
    }

    .img1 {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }

    .img2, .img3, .img4, .img5 {
        grid-column: auto;
        grid-row: auto;
    }
}

@media (max-width: 768px) {
    .photos {
        grid-template-columns: repeat(2, 1fr); 
        grid-template-rows: repeat(3, 100px);
    }

    .img1 {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }

    .img2, .img3, .img4, .img5 {
        grid-column: auto;
        grid-row: auto;
    }

    .img1 img {
        border-top-left-radius: 15px; 
        border-top-right-radius: 15px; 
        border-bottom-left-radius: 0;   
    }

    .img3 img {
        border-top-right-radius: 0;      
    }

    .img4 img {
        border-bottom-left-radius: 15px; 
    }

    .img5 img {
        border-bottom-right-radius: 15px; 
    }
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden; 
}


@media (min-width: 768px) {
    .info-container {
        flex-direction: row; 
        justify-content: space-between; 
    }
    
    .house-rules, .cancellation-policy, .safety-and-property {
        width: 30%; 
        padding: 20px; 
    }
}
